.zfpFrame {
	font-size: 0;
	border: 0!important;
	padding:0;
	margin:0;
}
table.zfpFrame {
	border: 0!important;
	float: left; 
	margin: 5px!important;
	padding: 0px!important;
	border-collapse: collapse;
}
td.zfpFrame {
	text-align: center; 
	line-height: 0;
	border: 0!important;
	vertical-align: middle; 
	margin: 0px!important;
	padding: 0px!important;
	background-color: transparent;
}
